<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
   <!-- <add name="Connection" connectionString="Data Source=vmodb.cvs7kbs7pdkq.eu-west-1.rds.amazonaws.com;Initial Catalog=vmo;User ID=vmodbuser;Password=$shark_tank4DBpass; Connect Timeout=45" />-->
    <add name="Connection" connectionString="Data Source=vmostaging3.cvs7kbs7pdkq.eu-west-1.rds.amazonaws.com;Initial Catalog=vmodev;User ID=vmodbuser;Password=monDbstag3!; Connect Timeout=45" />
  </connectionStrings>

</configuration>